/* Used a long name so as to make collisions 
with normal page elements unlikely */
#injectedApostropheSearchBar {
}

#injectedApostropheDiv {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 2147483647;
	display: none;
}

#injectedApostropheDiv p {
	background-color: white;
}

#apostrophePopupBody {
	min-width: 300px;	
}
